<a href="https://colab.research.google.com/github/aka-ish/Machine-Learning-Notes/blob/main/Pandas_task_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###`Q-1:` Write a program to create an empty series.

In [4]:
# code here
import pandas as pd
series = pd.Series([1,2,3,4,5,6])
series.astype('int16')
print(series)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

###`Q-2:` Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [8]:
# code here
s1 = pd.Series([2,3,4,5,6])
s2 = pd.Series([9,8,7,6,5])

res = (s1+s2)
print(res)
res2 = s1-s2
print(res2)
res3 = s1*s2
print(res3)

0    11
1    11
2    11
3    11
4    11
dtype: int64
0   -7
1   -5
2   -3
3   -1
4    1
dtype: int64
0    18
1    24
2    28
3    30
4    30
dtype: int64

###`Q-3` Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [12]:
# code here
s1 = pd.Series([2,4,6,8,10])
s2 = pd.Series([1,3,5,7,10])

print(s1==s2)
print(s1>s2)
print(s1<s2)

0    False
1    False
2    False
3    False
4     True
dtype: bool
0     True
1     True
2     True
3     True
4    False
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool

###`Q-5.`Write a function to change the data type of given a column or a Series. Function takes series and data type as input, returns the converted series.
```
series = pd.Series([1,2,'Python', 2.0, True, 100])
change to float type data
```
Note: Read about pd.to_numeric()

In [15]:
# code here
series = pd.Series([1,2,'Python', 2.0, True, 100])
print(series.dtype)
print(series)

def change_type(series):
  return pd.to_numeric(series,errors='coerce')

change_type(series)

object
0         1
1         2
2    Python
3       2.0
4      True
5       100
dtype: object

0      1.0
1      2.0
2      NaN
3      2.0
4      1.0
5    100.0
dtype: float64

Download data - https://drive.google.com/file/d/1LRhXwbEodeWXtzPhJCX0X9Lf_BECzvqb/view?usp=share_link
All Batsman runs series in IPL 2008 to 2022.

Below questions are based on this data.

###`Q-6` Find top 10 most run getter from the series.

In [34]:
df = pd.read_csv('batsman_runs_series.csv')
df

             batter  batsman_run
0    A Ashish Reddy          280
1          A Badoni          161
2        A Chandila            4
3          A Chopra           53
4       A Choudhary           25
..              ...          ...
600      Yash Dayal            0
601   Yashpal Singh           47
602     Younis Khan            3
603    Yuvraj Singh         2754
604          Z Khan          117

[605 rows x 2 columns]

In [41]:
df.sort_values('batsman_run',ascending=False).head(10)

             batter  batsman_run
569         V Kohli         6634
462        S Dhawan         6244
130       DA Warner         5883
430       RG Sharma         5881
493        SK Raina         5536
27   AB de Villiers         5181
108        CH Gayle         4997
339        MS Dhoni         4978
452      RV Uthappa         4954
256      KD Karthik         4377

###`Q-7` No of players having runs above 3000

In [46]:
# code here
df[df['batsman_run'] > 3000].shape[0]

20

###`Q-8` No of players having runs above mean value?

In [52]:
# code here
df[df['batsman_run']>df['batsman_run'].mean()].shape[0]

128

Download data - https://drive.google.com/file/d/1QZuZ5bypUInfVvarHACLAi8tXXHvb8xd/view?usp=share_link

file name - items.csv

###`Q-9`
    i. Read `items.csv` making `item_name` as index.
    ii. Show no of nan values
    ii. Item price is given in $, so convert it to rupees without currency symbol.
    iii. Make data type of newly made series as float.
    iv. Fill nan with mean of the series


How csv file looks

```
item_name	item_price
Chips and Fresh Tomato Salsa	$2.39
Izze	$3.39
Nantucket Nectar	$3.39
Chips and Tomatillo-Green Chili Salsa	$2.39
Chicken Bowl	$16.98

```

In [58]:
# code here
items = pd.read_csv('/content/items.csv',index_col = ['item_name']).squeeze('columns')
items.head()

item_name
Chips and Fresh Tomato Salsa              $2.39
Izze                                      $3.39
Nantucket Nectar                          $3.39
Chips and Tomatillo-Green Chili Salsa     $2.39
Chicken Bowl                             $16.98
Name: item_price, dtype: object

In [60]:
items.isna().sum()

np.int64(50)

In [56]:
def rupees(x):
  x[1:]
items['item_price'].apply(lambda x:x)

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

###`Q-10`:
    i. Find mean price
    ii. Find 30th and 6th percentile value
    iii. Plot Histogram on price with bin size 50
    iv. No of items price lies between [1000 to 2000]

In [ ]:
# code here